table.table {
  width: 100%;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;

  &.table-striped {
     & > tbody > tr, & > tr {
      &:nth-child(even) {
        background-color: darken(#fff, 3);
      }

      &:nth-child(odd) {
        background-color: darken(#fff, 6);
      }
    }
  }

  &.table-hover {
    & > tbody > tr, & > tr {
      &:hover {
        background-color: darken(#fff, 10);
      }
    }
  }

  td, th {
    padding: 10px 20px;

    @media (max-width: 1400px) {
      & {
        padding: 5px 10px;
      }
    }
  }
}