@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  font-family: 'Open Sans', sans-serif;
  color: $typograpy-body-color;
}

a {
  text-decoration: none;
  color: $a-color;
  transition: color .15s ease-out;

  &:hover {
    color: $a-color-hover;
    transition: color .15s ease-in;
  }

  &.red {
    color: $a-color-red;

    &:hover {
      color: $a-color-red-hover;
    }
  }
}

nav > ul > li > a {
  color: rgba(0,0,0,.87);
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}