<input type="search" ng-model="search" ng-change="searchChange()" class="form-control" placeholder="Type minimum 3 letters to find a user...">

<span ng-show="!users">Type to find users</span>
<span ng-show="users != null && users.length <= 0">No results</span>
<ul style="margin: 0; padding: 0; width: 100%; list-style: none;" ng-show="users != null">
    <li ng-repeat="user in users" style="display: block; width: 100%;">
        <label><input type="checkbox" ng-checked="isSelected(user.id)" ng-click="toggleSelected(user.id);" ng-true-value="1" ng-false-value="0" > {{user.last_name}}, {{ user.first_name }} - <small>{{ user.id }}</small></label>
    </li>
</ul>